.jcarousel-wrapper {
    position: relative;
    border: 10px solid #fff;
    /* width: 500px; */

    /* -webkit-border-radius: 5px; */
    -moz-border-radius: 5px;
    /* border-radius: 5px; */
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    margin: auto;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    margin-top:-20px; 
    padding: 0;
}

.jcarousel li {
    float: left;
}
@media screen and (min-width: 1400px){
    .jcarousel {
    width: 540px;
    }
    .jcarousel li img {
    width: 540px;
    height: 300px;
    }
    .jcarousel-control-prev i, .jcarousel-control-next i {
    font-size: 130px !important;
    }
    .jcarousel-control-prev, .jcarousel-control-next{
        top: 30% !important;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) { 
    .jcarousel {
    width: 490px;
    }
    .jcarousel li img {
    width: 490px;
     height: 300px;
    }
    .jcarousel-control-prev i, .jcarousel-control-next i {
    font-size: 130px !important;
    }
     .jcarousel-control-prev, .jcarousel-control-next{
        top: 30% !important;
    }
}
@media screen and (min-width: 980px) and (max-width: 1200px) {
    .jcarousel {
    width: 350px;
    }
    .jcarousel li img {
    width: 350px;
     height: 200px;
    }
    .jcarousel-control-prev i, .jcarousel-control-next i {
    font-size: 100px !important;
    }
     .jcarousel-control-prev, .jcarousel-control-next{
        top: 30% !important;
    }
}
@media screen and (min-width: 761px) and (max-width: 979px) {
    .jcarousel {
    width: 600px;
    }
    .jcarousel li img {
    width: 600px;
     height: 400px;
    }
     .jcarousel-control-prev i, .jcarousel-control-next i {
    font-size: 150px !important;
    }
     .jcarousel-control-prev, .jcarousel-control-next{
        top: 30% !important;
    }
}
@media screen and (min-width: 641px) and (max-width: 760px) {   
    .jcarousel {
    width: 500px;
    }
    .jcarousel li img {
    width: 500px;
     height: 300px;
    }
  
    .jcarousel-control-prev i, .jcarousel-control-next i {
    font-size: 150px !important;
    }
     .jcarousel-control-prev, .jcarousel-control-next{
        top: 25% !important;
    }
}
@media screen and (min-width: 420px) and (max-width: 640px) {
      .jcarousel {
    width:300px;
    }
    .jcarousel li img {
    width:300px;
    height: 200px;
    }
    .jcarousel-control-prev i, .jcarousel-control-next i {
    font-size: 100px !important;
    }
     .jcarousel-control-prev, .jcarousel-control-next{
        top: 25% !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 419px) {
      .jcarousel {
    width:250px;
    }
    .jcarousel li img {
    width:250px;
    height: 200px;
    }
   
    .jcarousel-control-prev i, .jcarousel-control-next i {
    font-size: 100px !important;
    }
     .jcarousel-control-prev, .jcarousel-control-next{
        top: 25% !important;
    }
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 40%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
}
.jcarousel-control-prev i,
.jcarousel-control-next i{
    color: #ccc;
    font-size: 80px;
}
.jcarousel-control-prev {
    left: -10px;
}

.jcarousel-control-next {
    right: -10px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    margin: auto;
    margin-top: 10px;
  
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    /* line-height: 13px; */
    min-width: 10px;
    background: #ccc;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    margin-right: 4px;
    height: 10px;
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4285f4;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
