body{
  margin:0; 
  padding: 0;
  position: relative;
  color: #5c5c5c;
  background-color: #fff;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
}
form{
	margin: 0;
}

td  a img {
    width: 160px;
}
section {
    padding: 13% 0;
    height: 100%;
}
.alert {
margin-bottom: 5px;
text-align: center;
}
.clear{
  clear: both;
}
.bound_content{

}
.btnc:focus,
.btnc{
    color: #fff;
    background: #8db6f8;
}
.btnc:hover{
    color: #fff;
    background: #00b9f2;
}
input, textarea, select{
    outline: none;
}
table td{
    font-size: 14px;
}
table th{
    font-size: 15px;
}
span.text-error{
    color: #922020; font-size: 13px; font-style: italic;
}
input.error {
    border: 1px solid #a94442;
}
input[type=checkbox], input[type=radio]{
	margin: 0;
}
.form-control.error {
    border: 1px solid #a94442;
}
.ehide{
	display: none;
}
.msg_warning {
    color: #a94442;
}
.page-wrapper {
    min-height: calc(100vh - 32px);
    }
.page-wrapper:after {
    content: "";
    display: block;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #4285f4;
    border: 1px solid #4285f4;font-size: 13px;color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}
 #container{
    width: 100%;
    margin: auto;
    padding: 0 40px;
}
#header{
    margin-bottom: 20px;
}

#wrap_all{
	width: 100%;
	margin: auto;
    background: white;
    height: initial;
}

#header .left_menu{
    float: left;
    width: 25%
}
#header .search_user{
    float: right;
    width: 75%
}
#header .bound_header{
    padding-top: 15px;
    padding-bottom: 15px;
}
#header .navigation .bound{
    margin: auto;
    height: 30px;
    margin-left: 40px;
    margin-right: 40px;
    
}
#header .bound_header .left{
	float: left;
}

#header .bound_header .right{
	float: right;
}
#header .navigation .menu{
float: right; width: 45%;
}
 #header .navigation .left{
    float: left; width: 55%;
}
#header .navigation .bound_search{
    float: left; width: 50%;  
}
#header .navigation .user_action{
    float: right; width: 25%;
}
#header .navigation  .google_translate_element_class{
    float: left;
    width: 25%;
    margin-top: 7px;
}
#header .bound_header a.hot_line{
	color: #f44336;
	position: relative;
	text-decoration: none;
	font-size: 15px;
	line-height: 30px;
	padding-left: 30px; 
}
#header .bound_header a.hot_line span{
	font-weight: bold;
}
#header .bound_header a.hot_line::before{
	display: inline-block;
    font: normal normal normal 30px/1 FontAwesome;
    content: "\f098";
    position: absolute; left: 0;
}
#header .navigation{
	padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #eee;
}
#header .navigation .menu a{
    color: #777;
    background: transparent;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    line-height: 30px;
}
#header .navigation .menu a.btn_left{
	border-radius: 4px 0 0 4px;
	border-right:0; 
    border: 1px solid #eee;
}
#header .navigation .menu a.btn_right{
	border-radius: 0 4px 4px 0;
	margin-left: -5px;
	border-left:0; 
    border: 1px solid #eee;
}
#header .navigation .menu a:hover{
    background: #777; color:#fff ;
}

#header .navigation .menu a.active{
	background: #4285f4; color:#fff ;
}

#header .navigation .bound_search{
	text-align: center;
}
#header .navigation .bound_search form{
	margin: 0;
    text-align: left;
    margin-left: 10px;
}
#header .navigation .bound_search .keywords{
    background: #fff;
    border: 1px solid #ddd;
    line-height: 22px;
    width: 90%;
    font-size: 14px;
    float: left;
    margin-top: 5px;padding: 1px 5px;
}
#header .navigation .bound_search .btn_search{
    border: 0;
    background: url('../images/icon_search.png') no-repeat;
    width: 25px;
    height: 27px;
    background-size: 100%;
    margin-top: 4px;
}
#header .user_action .name_left{
    float: left;
    width: 75%;
}
#header .user_action .circle_right{
    float: right;
    width: 25%;
}
#header .user_action .bound_not_user{
	font-size: 14px; 
	text-align: right;padding-top: 8px;
}
#header .user_action .bound_not_user a.item{
	color: #777;
	text-decoration: none;
}
#header .user_action .bound_not_user a.item:hover{
	text-decoration: underline;
}
#header .user_action .bound_not_user span.separate{
	color: #fff;
}
#header .user_action ul.nav{
	float: right;
}
#header .user_action ul.nav .dropdown-menu{
	right: 0; left: inherit;    border: 1px solid #ccc;
    background: #fff;
}
#header .user_action ul.nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40;
    border: 0px solid #ccc;
    margin-top: -15px;
    }
#header .user_action .nav>li>a:focus, 
#header .user_action .nav>li>a:hover,
#header .user_action .nav .open>a{
	background: transparent;
}
#header .user_action .navbar-nav>li>a{
    color: #fff;
    font-size: 14px;
    padding: 9px 0;
}
.bound_slidebar_left{
    width: 25%;
    }
.contain_homepage .main_content{
        float: right;
        width: 75%;
        background: #fff;
        margin-bottom: 10px;
    }
.contain_homepage #map_canvas {
    width: 100%;
    margin: auto;
    height: calc(100vh - 138px);
    }
#footer{
    width: 100%;
    float:left;
}
#footer .bound_footer {
    width: 100%;
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #ccc;
    }
.page-wrapper:after {
}
#footer .bound_footer .info{
	margin-top: 20px;
}
#footer .bound_footer .left{
    width: 80px; float: left;
}
#footer .bound_footer .right{
    width: calc(100% - 150px); 
    float: left;
    height: inherit;
    padding-top: 5px;
}
.bound_footer img{
    width: 80px;
    margin-top: -35px;
}
#footer .bound_footer .right ul.menu{
    list-style: none; margin: 0; padding: 0;
}
#footer .bound_footer .right ul.menu li{
    display: inline-block; margin: 0; padding: 0 20px;
}
#footer .bound_footer .right ul.menu li a{
    color: #777; font-weight: normal; font-size: 13px;
}
.bound_content h1.title{
	margin: 0 0 20px 0;
}
.bound_slidebar_left {
    float: left;
    background: #fff;
    padding: 10px;
    margin-top: 25px;
}
.bound_slidebar_left .wrap_filter{
    width: 225px;
    float: right;
}
/*------- Register page-----------*/
#wrap_user_register{

}
#wrap_user_register .bound_content{
	width: 500px;
	margin: 0 auto;
}
#wrap_user_register .control{
	text-align: center;
}

/*----------------Post item------------------*/
.required .lbl span{
	color: #ff3535;
}
input.form-control, select.form-control, textarea.form-control{
	border-radius:0;  color: #777;
}
#wrap_post_item input[type='checkbox']{
	box-shadow: none;
    width: 32px;    display: inline-block;
}

#wrap_post_item{

}

#wrap_post_item div.form-horizontal > div{
	margin-bottom:10px;
}
#wrap_post_item h1.title{
	color: #39588c;
	font-size: 18px; 
	font-weight: bold;
	text-transform: uppercase;    
	margin-bottom: 60px;
}
#wrap_post_item h1.title span{
	color: #6a6b6d; font-size: 14px; text-transform: none;
	display: block; font-weight: normal;padding-top: 5px;
}
.bound_content .main_container{
	background: #fff; padding: 10px;
    width: 100%;
    margin: auto;
   
}
#frm_update_profile{
    max-width: 300px;
    margin:auto;
}
#wrap_post_item .block{
	padding: 20px 50px;margin: 0 0 60px 0;
	position: relative;    
}
.theme_register {
    width: 50%;
    margin: auto;
}
.profile tbody tr .lbl{
    width: 30%;
}
.border_font{
    border-bottom:1px solid #eee; 
}
.border_font span{
    border-bottom:2px solid #4285f4; 
}
.profile tbody tr td{
    border-top: none;
}
#wrap_post_item .block .block_title {
    position: absolute;
    top: -35;
    width: 90%;
    color: #333;
    font-size: 19px;
    border-bottom: 1px solid #eee;
}
#wrap_post_item .block .block_title span{
    border-bottom: 2px solid #4285f4;
        padding-bottom: 4px;
    }
#wrap_post_item .block table{
	font-size: 13px;
}
#wrap_post_item .block table tr td{
	padding-bottom:10px;
}
#wrap_post_item .block table tr td.lbl{
    color: black;
	width: 220px;
}
#wrap_post_item .block table tr td.val{
	width: 240px;
}
.table-striped tr:nth-child(even){background-color: #f2f2f2}
#wrap_post_item .property .lbl {
        width: 216px;
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
    color: black;
}
#wrap_post_item .property{
    margin-bottom: 10px;
    clear: both;
    display: table;
}
#wrap_post_item .property input.val[type='text'],
#wrap_post_item .property select.val,
#wrap_post_item .property .bound_chk {
    width: 240px;display: inline-block;
}
#wrap_post_item .property .bound_chk {
	text-align: right;
}
#wrap_post_item .property:hover{
    background: #e9f1ff;
}
#wrap_post_item input[type='text'].form-control,
#wrap_post_item select.form-control{
	display: inline-block;
}
#wrap_post_item .property span.suffix{
    padding-left: 5px;
}
#wrap_post_item input#field_title{
	max-width: 526px; display: inline-block;
    width: 90%;
}
#wrap_post_item span#num_of_characters{
    color: #00b9f2; font-weight: bold; padding-left: 5px;
}
#wrap_post_item input.chk_box{
	display: inline-block;
}
#wrap_post_item  tr.bound_chkbox td.val{
	text-align: left;
}

#wrap_post_item  tr td.suffix{
	padding-left: 10px;
}
#wrap_post_item  tr td textarea{
	width: 540px;
}
#wrap_post_item .block.other .note{
	margin: 10px 0 20px 0;
}

#wrap_post_item .block .bound_control{
	margin: 20px 0 0 0;
}
#wrap_post_item #field_file_upload{
	display: none;
}
#wrap_post_item #control_upload{
	background: url('../images/bg_upload.jpg') no-repeat;
	background-size: 100%;
	width: 192px;
	height: 192px;
	position: relative; cursor: pointer;
}
#wrap_post_item #control_upload span.text{
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 18px;
    right: 40px;
}
#wrap_post_item .bound_item_file {
    position: relative;
    width: 192px;
	height: 192px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
    background: #f0f0f0;
    margin: 10px;
    cursor: pointer;
}
#wrap_post_item  .bound_item_file.photo.default{
    border: 3px solid #4285f4;
}
#wrap_post_item  .bound_item_file.photo {
    display: table;
}
#wrap_post_item  .bound_item_file .bound_middle{
    display: table-cell;
    vertical-align: middle;
}
#wrap_post_item .bound_item_file a.edit{
    position: absolute;
    bottom: 0; left: 0;
    background-color: yellow;
    text-decoration: none; padding: 0 5px;
}
#wrap_post_item  .bound_item_file.photo .error_msg{
    color: red;
}
#wrap_post_item .bound_item_file.photo a.remove::before {
    font: normal normal normal 14px/1 FontAwesome;
    width: 32px;
    font-size: 20px;
    display: block;
    height: 20px;
    content: "\f00d";
    position: absolute;
    top: -10px;
    right: -18px;
}
#wrap_post_item .bound_item_file img {
    width: 100%;
}
#wrap_post_item .bound_control .captcha i.fa-refresh{
	color: #4185f4;
}
#wrap_post_item .bound_control .captcha i.button.fa-refresh{
    font-size: 30px;
    cursor: pointer;
    line-height: 56px;
    margin-left: 15px;
}
#wrap_post_item .bound_control #siimage{
	float: left;    border: 1px solid #ddd;
}
#wrap_post_item .bound_control .captcha .suffix{
	vertical-align: top;
}
#wrap_post_item .bound_control .input_captcha{
    margin-top: 10px;width: 190px;
}
#wrap_post_item .bound_control #siimage{
    width: 190px;
}
/*------------- Home page ------------------------*/

/******************************* Map markers */
.marker {
    position: absolute;
    cursor: pointer;
    z-index: 200;
}
.marker.map_label {
    color: #4285f4;
}
div.popup.marker-info{
    position: absolute;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    width: 150px;
    z-index: 9999;
}
div.popup.marker-info .img img{
    width: 100%;
}
div.popup.pad {
  margin-top: 30px;
}
.map_popup{
    color: #39588c;
    font-size: 15px;
}
.map_popup .price{
    color: #00b9f2;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}
.map_popup .address{
    font-weight: bold;
}
.map_popup .area span{
    font-weight: bold;
}
.map_infowindow{
    width: 280px;
}
.map_infowindow .title{
     font-weight: bold;
    color: #39588c;
    margin-bottom: 5px;
}
.map_infowindow .img{
    width: 100px; float: left;
}
.map_infowindow .img img{
    width: 100%;
}
.map_infowindow .content{
    float: right; width: 170px;
    color: #39588c;
    font-size: 15px;
}
.map_infowindow .content .price span{
    color: #00b9f2;
    font-weight: bold;
}
.map_infowindow .content .area span{
    font-weight: bold;
}
.map_infowindow .content .address{
    font-size: 13px;
}

/*--------List View-----------*/
ul.s-list {
    float: left;
    width: 100%;
    list-style: none;
    min-height: 130px;
    margin-bottom: 0px;
    
}
ul {
    margin: 0;
    padding: 0;
}
ul.s-list li {
    border-bottom: 1px solid #CCCCCC;
    float: left;
    font-size: 13px;
    min-height: 130px;
    width: 100%;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
a {
    text-decoration: none;
}
.hh-sr {
    color: #B32626;
    padding: 15px 0 0;
    text-transform: uppercase;
    margin: 0;
    padding: 15px 0 0;
}
.img-star {
    float: left;
    padding-right: 10px;
    width: 15px;
}
.sr-image {
    float: left;
    padding: 0 15px 15px 0;
    position: relative;
}
.sr-image .photos {
    padding: 2px;
    width: 125px;
    height: 90px;
    border: 1px solid #cccccc;
}
.sp-info {
    line-height: 20px;
}
.text-blue {
    color: #055699 !important;

}
.hh-sr {
    color: #B32626;
    margin-top: -10px;
    text-transform: uppercase;
    font-size: 14px; 
    color: #4285f4
}
.padding {
    height: 105px;
    padding-top: 15px;
    width: 100%;
}
.description{
    height: 43px;
    margin-bottom: 5px;
}
.font_pad{
    padding-bottom: 3px;
    overflow: hidden;
    position: relative;
}
.iconsave{
    font-size: 18px;
    margin-top: 3px;
}
.labeltext{
    font-weight: normal; 
    font-family: Arial,sans-serif;
}
.item_ads{
     overflow: hidden;
    position: relative;
}
.date{
    color:#858585;
    font-size:12;
    font-weight:normal;
}
#wrap_list_view{

}
.main_content .list_items{
    margin: 0 8px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.list_items .item{
    padding: 10px 0;
    border-bottom: 1px solid #e6e7e8;
    height: 140px;
}
.list_items .item .content h3.title{
    font-weight: bold; font-size: 15px;
    margin: 0 0 10px 0;
}
.list_items .item .content h3.title a{
    color:#39588c; text-decoration: none;
}
.list_items .item .content .description{
    margin-bottom: 10px;
    font-size: 13px;
}
.list_items .item .content .address{
    font-weight: bold;
    color: #00b9f2; 
}
.list_items .item .content .address:before{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f041";
    width: 10px;
    display: inline-block;
    color: #ed682e;
}
.list_items .item .photo{
    float: left;
    width: 20%;
    position: relative;
    padding-right: 8px;
}
.list_items .item .left{
    width: 80%;
}
.list_items .item .content {
    width: 70%;
    
}
.list_items .item .misc {
    float: right;
    width: 20%;
}

.list_items .item .photo img{
   
    margin: 10 0px;
    top: 0;
    left: 0;
    width: 160px;
    height: 120px;
    float: left;
    position: relative;
    padding-right: 0.25em;
}

.list_items .price_item .property{
    color:#00b9f2; font-weight: bold; font-size: 16px;
}
.list_items .area_item .property{
    font-weight: bold;
}
.list_items .item  table{
    font-size: 14px;
}
.list_items .item  table td{
    padding-bottom: 2px;
}
.list_items .item  table td.lbl{

    width: 17%;
    color:#6a6b6d;
    padding-left: 10px; 
}
.list_items .item table tr.date_item{
}
.list_items .item table tr.date_item .border_date1{
    padding-left: 2px;
    background: #4285f4;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
.list_items .item table tr.date_item .border_date2{
    padding-right: 2px;
    background: #4285f4;
    border-top-right-radius:1em;
    border-bottom-right-radius:1em;
}
.list_items .item  table tr.date_item td{
    color: white;
    padding-bottom: 0px;
    margin-top: 8px;
 
}
.list_items .item_ads .btn_item.save{
    background: url('../images/btn_save.jpg') no-repeat;
    display: inline-block;
    width: 22px; height: 20px;
}
.list_items .item_ads .btn_item.remove{
    background: url('../images/delete.png') no-repeat;
    display: inline-block;
    width: 22px; height: 20px;
}
.bound_pagination{
    text-align: center;
}
.bound_ctr_map_list{
    text-align: left;
    margin-left: 10px;  
}
.bound_nav_menu a{
    color: #777;
    text-decoration: none;
    padding: 5px 0px;
    line-height: 38px;
}
.bound_nav_menu  a.nav_menu.left{
    border-right:0; 
}
.bound_nav_menu a.nav_menu.middle{
     margin-left: 25px;
     border-left: 0;
}
.bound_nav_menu  a.nav_menu.right{
    margin-left: 25px;
    border-left:0; 
}
.bound_nav_menu a:hover,
.bound_nav_menu a.active{
     color: #555;
    border-bottom: 3px solid #4285f4;
}

/*-----------------Item Detail--------------------*/
#wrap_item_detail{

}
#wrap_item_detail .bound_item_detail{
    background: #fff;
    padding: 10px;
}
#wrap_item_detail .bound_title h3.title{
    font-weight: bold; font-size: 20px; color: #39588c;
    margin: 0 0 25px 0; float: left;
    width: 80%;
}
#wrap_item_detail .bound_title .control{
    float: right; width: 100px; text-align: right;
}
#wrap_item_detail .bound_title .control .btn_item.save{
    background: url('../images/btn_save.jpg') right no-repeat;
    color: #6a6b6d;
    text-decoration: none;
    padding: 0px 30px 0px 0;
    height: 25p;
    display: inline-block;
    line-height: 25px;
}
#wrap_item_detail .bound_title .control .btn_item.remove{
    background: url('../images/delete.png') right no-repeat;
    color: #6a6b6d;
    text-decoration: none;
    padding: 0px 30px 0px 0;
    height: 25p;
    display: inline-block;
    line-height: 25px;
}

#wrap_item_detail .slide_right{
    float: right;
    width: 30%;background: #fff;
    padding: 10px;
    margin-top:25px;
    max-width: 260px;
    float: left;
}
h3.mod_title,
#wrap_item_detail .bound_contact h3.subtitle{
    background: #4285f4;
    color: #fff;
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
    margin: 0 0 10px 0;
    font-weight: bold;
}

#wrap_item_detail .detail_contact table td{
    padding-bottom: 15px;
    padding-left: 5px;
}

#wrap_item_detail .detail_contact table td.val{
    font-weight: bold;
}
#wrap_item_detail .detail_contact{
    padding: 10px;border: 1px solid #e6e7e8;
}
#wrap_item_detail .detail_contact td.email{
    overflow: hidden;position: relative;width: 100%;
}
#wrap_item_detail .detail_contact td.email span{
    position: absolute;top: 4;
}
#wrap_item_detail .detail_contact td.email span:hover{
    position: initial !important;
}
#wrap_item_detail .detail_contact .lbl .icon{
    background: url(../images/icon_contact.png) no-repeat;
    width: 25px; height: 25px;display: inline-block;
}
#wrap_item_detail .detail_contact .icon.email{
    background-position-y: 5px;
}
#wrap_item_detail .detail_contact .icon.phone{
    background-position-y: -69px;
}
#wrap_item_detail .detail_contact .icon.zalo{
    background-position-y: -103px;
}
#wrap_item_detail .detail_contact .icon.viber{
    background-position-y: -147px;
}
#wrap_item_detail .bound_contact .approve_by{
    margin: 10px 0 0 0;
}
#wrap_item_detail .bound_contact .approve_by span.txt{
    position: relative;
    padding-left: 20px;
    display: inline-block;
}

#wrap_item_detail .bound_contact .approve_by span.txt:before{
    font: normal normal normal 18px/1 FontAwesome;
    content: "\f058";
    color: #8bc34a;
    display: inline-block;
    left: 0px;
    position: absolute;
    top: 2px;
    width: 24px;
}
#wrap_item_detail .bound_contact .approve_by span.by{
    font-weight: bold;
}
#wrap_item_detail .bound_information{
}
#wrap_item_detail .bound_information table td.lbl{
    padding: 8px 20px 8px 5px;
}
#wrap_item_detail .bound_information table td.val{
    padding:8px 0;
}
#wrap_item_detail .bound_information table td.val i.fa{
    color: #8bc34a; font-size: 18px;
}
#wrap_item_detail .bound_description{
    margin-top: 10px;
    padding: 0 20px;
}
#wrap_item_detail .bound_photos{
    
}
#wrap_item_detail .bound_photos a.navigation:focus,
#wrap_item_detail .bound_photos a.navigation:hover{
    color: #d9e7fd;
}
#wrap_item_detail #map_canvas,
#wrap_item_detail #map_ultility_canvas,
#wrap_item_detail #list_facility_places{
    height: 300px;
}
#wrap_item_detail .bound_tab_content{
    position: relative; margin: 0 0 30px 0;
}
#wrap_item_detail .bound_tab_content .tab_pane{
    display: none;
}
#wrap_item_detail .bound_tab_content .tab_pane.active{
    display: block;
}

#wrap_item_detail .bound_tab_content .jcarousel-wrapper{
    text-align: center;
}
#wrap_item_detail .bound_tab_content .jcarousel-pagination{
    display: inline-block;
}
#wrap_item_detail #map_ultility_canvas{
    width: 60%; float: left;    height: 330px;

}
#wrap_item_detail #list_facility_places{
     overflow-y:auto;
}
#wrap_item_detail .tab_info{
    width: 40%; float: right; 
}
#wrap_item_detail #list_facility_places ul{
    margin: 0; padding: 0; list-style: none;
}
#wrap_item_detail #list_facility_places li{
    margin: 0 0 0 10px;
    padding: 8px 0 8px 12px;
    display: block;
    font-size: 13px;   
    position: relative;
}
#wrap_item_detail #list_facility_places li.fa.place:before{
    content: "\f041";
    left: 0px;
    position: absolute;
}
#wrap_item_detail #list_facility_places li.place span.name{
    display: block;
    margin-bottom: 4px;
}
#wrap_item_detail #list_facility_places li.place span.address{
    display: block;
    font-style: italic;
    font-size: 12px;
}
#wrap_item_detail .breadcrumb{
    background: #d9e7fd;
    border-radius: 0;
    color: #4285f4;
    margin: 0 0 10px 0;
}
#wrap_item_detail .breadcrumb a{
    color: #4285f4; text-decoration: none;
}
#wrap_item_detail .breadcrumb span.cur_page{
    font-weight: bold;
}
#wrap_item_detail .bound_status{
    padding: 0 0 15px 0;
    border-bottom: 1px solid #d9e7fd;
    margin-bottom: 15px; position: relative;
}
#wrap_item_detail .bound_status ul{
    list-style: none; margin: 0; padding: 0;width: calc(100% - 125px);
}
#wrap_item_detail .bound_status ul li{
    margin: 0; padding: 0;
    display: inline-block; padding: 0 10px 0 20px;
    position: relative;
}

#wrap_item_detail .bound_status ul li.element:before{
    content: '';
    background: url(../images/icon_detail.png) no-repeat;
    width: 18px;
    height: 16px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 2;
}
#wrap_item_detail .bound_status ul li.location:before{
    background-position-x: -22px;
}
#wrap_item_detail .bound_status ul li.item_id:before{
    background-position-x: -42px;
}
#wrap_item_detail .bound_status ul li.created_date:before{
    background-position-x: -63px;
}
#wrap_item_detail .bound_status span.statusred{
    background: #f44336;
    color: #fff;
    font-weight: bold;
    position: absolute;
    right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    top: 0;
    padding: 2px 6px;
    font-size: 13px;
}
#wrap_item_detail .bound_status span.statusgreen{
    background: rgb(139,195,74);
    color: #fff;
    font-weight: bold;
    position: absolute;
    right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    top: 0;
    padding: 2px 6px;
    font-size: 13px;
}
#dot-nav{    
    right: 10px;
    top: 50%;
    margin-top: -50px;
    height: 100px;
    z-index: 999;
}

#dot-nav ul {
    list-style: none;
    margin:0;
    padding: 0;
}
#dot-nav li {
    position: relative;
    background-color: #bdc3c7;
    border:3px solid #bdc3c7;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    padding: 5px;
    height: 10px;
    margin: 10px 10px 0px 0px;
    width: 10px;
    vertical-align:bottom;
}
#dot-nav li.active, #dot-nav li:hover {
    background-color: #8e44ad;
}

#dot-nav a {
    outline: 0;
    vertical-align:top;
    margin: 0px 0px 0px 25px;
    position: relative;
    top:-5px;
}
.awesome-tooltip + .tooltip > .tooltip-inner {
    background-color: #8e44ad; 
    color: #f5f5f5; 
    border: 1px solid #8e44ad; 
}
.awesome-tooltip + .tooltip.left > .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #8e44ad;
}
.btn_input{
    background-color: #4285f4;
    color: white;
}


/* Manager Item */
#wrap_man_manage_items .left.slidebar{
    float: left;
    width: 245px;
    background: #fff;
    height: 100%;
}
#wrap_man_manage_items .right.items{
    float: right;
    width: 765px;
    background: #fff; padding: 8px;
}
#wrap_man_manage_items .right.items table th{
    text-align: center; font-size: 14px; background: #dce9ff;
    color: #39588c;font-weight: normal;
}

/* Manager Item */
.manage_items .main_content{
    width: 100%;max-width: 900px;float: none;margin: auto;
}
#wrap_manage_items .left.slidebar{
    float: left;
    width: 245px;
    background: #fff;
    height: 100%;
}
#wrap_manage_items .right.items{
    float: right;
    width: 765px;
    background: #fff; padding: 8px;
}

#wrap_manage_items .right.items table th{
    text-align: center; font-size: 14px; background: #dce9ff;
    color: #39588c;font-weight: normal;
}
#wrap_manage_items .bound_select_status select.status{
    display: block;
    width: 125px;
    font-size: 14px;
    padding: 3px;
}
#wrap_manage_items .bound_select_status select.item_status{
    margin-bottom: 10px;
}
#wrap_manage_items .bound_select_status select.status{
    display: block;
    width: 125px;
    font-size: 14px;
    padding: 3px;
}
#wrap_manage_items .bound_select_status select.item_status{
    margin-bottom: 10px;
}

.wrap_filter .select2-container{
    margin: 0 0 10px 0;
}
.select2-container .select2-selection--single{
    outline: none;    border: 1px solid #ddd;
}
.select2-selection--single .select2-selection__rendered {
    color: #777;
}
.goog-te-gadget-simple .goog-te-menu-value span {
    color: #777
}
#frm_filter_item input{
    width: 100% ;
}
#frm_filter_item .btn_search{
    float: right;
    width: 40%;
    background:#8db6f8; 
    color: black;
}
.btn_search{
    background:#8db6f8; 
    color: black;
}
#frm_filter_item .btn_advanced{
    float: left;
    width: 55%;
    background: #d9e7fd;
    color: black;
}
.marker_label {
     color: #fff;
     background-color: green;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     min-width: 40px;
     border: 1px solid #fff;
     white-space: nowrap;
     padding: 2px 5px;
}
.marker_label.selected{
    background-color: #ccc;
}
.tab_pane .label_noti{
    margin-left: 10px;
    background: rgb(217, 231, 253) none repeat scroll 0% 0%;
    width: 100%;
}
.scroll_filter{
    overflow-x:hidden;
    max-height: calc(100vh - 210px);
    overflow-y: auto;

}

.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: -8px;
    width: 5px;
}

.mCustomScrollBox{
    height: auto;
}
.dropdown-menu {
    min-width: 100px; 
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}
.select2-container--default .select2-results > .select2-results__options {
    -webkit-box-shadow: 5px 5px 5px #666;
    max-height: 300px;
}
.hotline{
    float: right;
    margin-top: 2px;
    }
.hotline a img{
    height: 28px !important;
}
#wrap_item_detail .bound_item_detail{
    position: relative;
}
#wrap_item_detail .bound_item_detail .hotline{
    position: absolute;
    float: none;
    right: 10px;
    top: -33px;
}
@media all {
    
}
@media screen and (min-width: 1401px){
    .bound_slidebar_left .advance_search{
        display: none;
    }
    .bound_slidebar_left .advance_search.active{
        display: block;
    }
    .bound_slidebar_left .advance_search.deactive .advance_combobox,
    .bound_slidebar_left .advance_search.deactive .advance_combobox_mul{
        width: 225px;
    }
    #wrap_item_detail .bound_item_detail{
    float: left;width: 70%; margin-top: 25px;
    }
    .user_action .img_profile{
        margin-left: 200px;
    }
    
}
@media screen and (min-width: 1200px) { 
    #header .navigation .menu{
        float: right; width: 55%;
    }
     #header .navigation .left{
        float: left; width: 45%;
    } 
    .bound_slidebar_left .advance_search{
        display: none;
    }
    .bound_slidebar_left .advance_search.active{
        display: block;
    }
    .bound_slidebar_left .advance_search.deactive .advance_combobox,
    .bound_slidebar_left .advance_search.deactive .advance_combobox_mul{
        width: 225px;
    }
    #wrap_item_detail .bound_item_detail{
        float: left;width: 52%; margin-top: 25px;
    }
    .user_action .img_profile{
        margin-left: 200px;
    }
    
}
@media screen and (min-width: 980px) and (max-width: 1200px) {
    #header .navigation .left {
        float: left;
        width: 35%;
    }
    #header .navigation .menu {
        float: right;
        width: 65%;
    }
    .bound_slidebar_left .advance_search{
        display: none;
    }
    .bound_slidebar_left .advance_search.active{
        display: block;
    }
    .bound_slidebar_left .advance_search.deactive .advance_combobox,
    .bound_slidebar_left .advance_search.deactive .advance_combobox_mul{
        width: 225px;
    }
    #wrap_item_detail .bound_item_detail{
        float: left;width: 70%; margin-top: 25px;
        position: relative;
    }
  
    #wrap_item_detail .slide_right {
        float: right;
        width: 30%;
    }
    .user_action .img_profile{
        margin-left: 170px;
    }
    #wrap_manage_items .right.items {
    width: 705px;
    }
    td a img {
    width: 120px;
    }
     
}
@media screen and (min-width: 0px) and (max-width: 979px) {
    /*-----------header--------------------*/

    #header .navigation .bound {
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    }
    #header .left_menu {
        float: none;
        width: 100%;
    }
    #header .search_user {
    float: none;
    width: 100%;
    }
    #header .navigation .left {
    float: left;
    width: 25%;
    }
    #header .navigation .menu {
    float: none;
    width: initial;
    }
    #header .navigation .google_translate_element_class {
    float: left;
    width: initial;
    margin-top: -27px;
    }
    #header .navigation .bound_search {
    float: left;
    width: 65%;
    }
    #header .navigation .user_action {
    float: right;
    width: 35%;
    }
    .navbar-nav {
    margin: auto;
    }
    #header .user_action .name_left p{
        margin-top: 5px;
    }
    /*----------fooder----------------*/
    #footer .bound_footer .right {
    width: calc(100% - 90px);}
    #footer .bound_footer {
    padding-right: 10px;
    padding-left: 10px;
    }
    #footer .bound_footer .right ul.menu li {
    padding: 0 10px;
    }
   /*---------main/map-------------*/
   #container {
    padding: 0 10px;
    }
    .bound_slidebar_left {
        display:none;
        float: none;
        margin-top: 0px;
        width: 100%;
        margin-bottom:30px;
    }
    .bound_slidebar_left .wrap_filter {
        float: none;
    }
    .bound_slidebar_left .wrap_filter {
    width: 100%;}
    #frm_filter_item.select2-container{
        width: 100% !important;
    }
    #frm_filter_item .btn_search {
    max-width: 150px;   
    }
    #frm_filter_item .btn_advanced {
    max-width: 150px;float: right;}
    .main_content {
        margin: auto;
        float: none;
        width: 100% !important;
        margin-bottom: 30px;
    }
    .navbar-nav .open .dropdown-menu {
    position: absolute;}
    #wrap_item_detail .bound_item_detail {
    margin-top: 20px;
    }
    #wrap_item_detail .slide_right {
    float: none;
    width: initial;
    background: #fff;
    padding: 10px;
    margin-top: initial;
    max-width: 100%;
    }
    #wrap_post_item input#field_title {
    width: 100%;}
    ul.s-list li {
        padding-bottom: 5px;
    }
    #wrap_item_detail #map_ultility_canvas {
    width: 100%;
    float: left;
    }
    #wrap_item_detail .tab_info {
    width: 100%;
    float: left;
    margin-left: -10px;
    }
    td a img {
    width: 100px;
    }
    .theme_register {
    width: 100%;}
    #container {
    margin-bottom: 20px;}
    .scroll_filter {
     min-height:294px;}
     .contain_homepage #map_canvas {
    min-height: 300px;
    }
    .select2-container {
        width: 100% !important;
    }
    #field_full_address
    {
        width: 100% !important;
    }
    #wrap_post_item .property {
    display: block;
    }
    #wrap_post_item .property input.val[type='text']{
        width: 100%;
    }
    #user_manage_form{
        display: block;
    }
    #user_manage_table{
        display: none;
    }
    .scroll_filter{
        max-height: inherit;
    }
   .hotline a img{
        height: 25px !important;
    }
    #wrap_item_detail .bound_item_detail .hotline{
        margin-bottom: 10px; position: relative;top:0;
        text-align: right; float: none;
    }
    
}
@media screen and (min-width: 0px) and (max-width: 500px) {
    ul.s-list li {
        padding-bottom: 25px;
    }
    .bound_nav_menu a.nav_menu.middle {
    margin-left: 15px;
    border-left: 0;
    }
    .bound_nav_menu a.nav_menu.right {
    margin-left: 15px;
    border-left: 0;}
    #header .navigation .google_translate_element_class{
        display: none;
    }
    #header .navigation .bound_search {
    width: 100%;
    }
    #header .navigation .menu {
    float: right;
    width: initial;
    }
    #header .navigation .left {
    float: left;
    width:40%;
    }
    #header .navigation .menu {
        display: none;}
    #header .navigation .user_action{
        margin-top: -65px;
        width: 60%;
    }
    
    #wrap_post_item .block {
        padding: 20px 0px;
        margin: 0 0 60px 0;
        position: relative;
    }
    #wrap_item_detail .bound_status ul{
        width: 100%;
    }
}




/*---------------------Item form BDSVN---------------------------------*/
div.wrap_item_form_bds{
    min-width: 1000px;
}
#popup_crop_image div.modal-lg{
    width: 1000px !important;
}