.ehide {
  display: none;
}
.my-input {
  box-sizing: border-box;
  width: 100%;
  resize: none;
  height: 34px;
  line-height: 34px;
}
select.my-input,
textarea.my-input,
input[type="text"].my-input,
input[type="password"].my-input,
input[type="datetime"].my-input,
input[type="datetime-local"].my-input,
input[type="date"].my-input,
input[type="month"].my-input,
input[type="time"].my-input,
input[type="week"].my-input,
input[type="number"].my-input,
input[type="email"].my-input,
input[type="url"].my-input,
input[type="search"].my-input,
input[type="tel"].my-input,
input[type="color"].my-input,
.uneditable-input {
  height: 34px;
  line-height: 34px;
}
.msg_warning {
  color: #a94442;
}
input.error {
  border: 1px solid #a94442;
}
section#sidebar {
  position: relative;
}
#sidebar aside {
  margin-bottom: 50px;
}
#sidebar .sidebar-navigation {
  list-style: none;
  padding-left: 0;
  margin: 0px;
}
#sidebar .sidebar-navigation > li {
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 5px;
  position: relative;
}
#sidebar .sidebar-navigation > li a {
  border-right: 3px solid transparent;
  color: #2a2a2a;
  display: block;
  padding: 10px 0 10px 10px;
  position: relative;
}
#sidebar .sidebar-navigation li.active a {
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #f3f3f3;
  border-color: #073855;
  padding-left: 10px;
}
#sidebar .sidebar-navigation > li i {
  color: #c9032f;
  margin-right: 8px;
}
#sidebar .sidebar-navigation > li a:after {
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 5px;
  border-color: transparent transparent transparent transparent;
  content: "";
  position: absolute;
  right: -8px;
  top: 1px;
  bottom: 0;
  margin: auto;
}
#sidebar .sidebar-navigation li.active a:after {
  filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  border-color: transparent transparent transparent #073855;
}
#sidebar h3,
.user_area .title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-top: 21px;
  padding-bottom: 15px;
}
#sidebar .sidebar-navigation > li a:hover {
  border-color: #c9032f;
  padding-left: 15px;
}
#sidebar .sidebar-navigation > li a:hover:after {
  filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  border-color: transparent transparent transparent #c9032f;
}
.cs-content {
  background-color: white;
}
#wrap_post_item .block .block_title {
  position: absolute;
  top: -17px;
  width: 90%;
  color: #333;
  font-size: 19px;
  border-bottom: 1px solid #eee;
}
#wrap_post_item .block {
  padding: 20px 50px;
  margin: 0 0 60px 0;
  position: relative;
}
#wrap_post_item tr td textarea {
  width: 540px;
}
#wrap_post_item .bound_item_file {
  position: relative;
  width: 192px;
  height: 192px;
  float: left;
  border: 1px solid #ccc;
  text-align: center;
  background: #f0f0f0;
  margin: 10px;
  cursor: pointer;
}
#wrap_post_item #control_upload {
  background: url(../img/bg_upload.jpg) no-repeat;
  background-size: 100%;
  width: 192px;
  height: 192px;
  position: relative;
  cursor: pointer;
}
#wrap_post_item .block {
  padding: 20px 50px;
  margin: 0 0 60px 0;
  position: relative;
}
#wrap_post_item #field_file_upload {
  display: none;
}
#wrap_post_item #control_upload span.text {
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 18px;
  right: 40px;
}
#wrap_post_item .block table tr td.lbl {
  color: black;
  width: 220px;
}
#wrap_post_item .bound_control .captcha .suffix {
  vertical-align: top;
}
#wrap_post_item tr td.suffix {
  padding-left: 10px;
}
#wrap_post_item .bound_control .captcha i.button.fa-refresh {
  font-size: 30px;
  cursor: pointer;
  line-height: 56px;
  margin-left: 15px;
}
#wrap_post_item .bound_control .captcha i.fa-refresh {
  color: #4185f4;
}
#wrap_post_item .block .bound_control {
  margin: 20px 0 0 0;
}

#wrap_post_item .property {
  margin-bottom: 10px;
  clear: both;
  display: table;
}
#wrap_post_item .property .lbl {
  width: 216px;
  display: table-cell;
  vertical-align: middle;
  font-weight: normal;
  color: black;
}
#wrap_post_item .property input.val[type='text'],
#wrap_post_item .property select.val,
#wrap_post_item .property .bound_chk {
  width: 240px;
  display: inline-block;
}
#wrap_post_item .block table tr td {
  padding-bottom: 10px;
}
.item-status {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #0f34b5;
}
#wrap_post_item .bound_item_file.photo a.remove::before {
  font: normal normal normal 14px/1 FontAwesome;
  width: 32px;
  font-size: 20px;
  display: block;
  height: 20px;
  content: "\f00d";
  position: absolute;
  top: -10px;
  right: -18px;
}
.bound_pagination {
  text-align: center;
}
.pagination {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #428bca;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
pagination li a {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  border: none;
  border-top: 5px solid #f3f3f3;
  color: #5a5a5a;
  padding: 10px 20px;
}
.pagination li:first-child a,
.pagination li:last-child a {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.pagination li.active a {
  background-color: #dc1818e0;
  color: #eaf2f7;
}

.advance_search.deactive {
  display: none;
}

.advance_search.deactive.active {
  display: block !important;
}

.advance_search .search-field input {
  width: 250px !important;
}

.navigation-wrapper .navigation .language-switcher {
  -webkit-box-shadow: 0;
  box-shadow: 0;
}

/* HOME */

/*
Search Form [Home + detail + List]
*/
.nat-client-map .chzn-container-multi .chzn-choices {
  background-image: none;
}
.nat-client-map .chzn-container-active .chzn-choices {
  box-shadow: none;
  border: none;
}

.nat-client-map .chzn-container-multi .chzn-choices {
  border: none;
}

/*
Agent Form
*/
.nat-client-map .agent {
  line-height: 1.5em;
  min-height: 3.5em;
}

.nat-client-map .agent .email {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nat-client-map .agent .name {
  line-height: 1.5em;
  min-height: 1.5em;
}

/**/

.nat-client-map .property .location {
  font-size: 10px;
  color: #707070;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  line-height: 1.5em;
  min-height: 3em;
}

.nat-client-map .property .title a {
  font-size: 12px;
  color: #06a7ea;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  line-height: 1.5em;
  min-height: 3em;
  font-weight: 600;
}
.nat-client-map .property .title h2 {
  margin-bottom: 5px;
  color: #06a7ea;
}
.nat-client-map .caroufredsel_wrapper .location {
  font-size: 10px;
  color: #707070;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  line-height: 1.5em;
  min-height: 3em;
  font-size: 10px;
}

.nat-client-map .caroufredsel_wrapper .title a {
  font-size: 12px;
  color: #06a7ea;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  line-height: 1.5em;
  min-height: 3em;
  font-weight: 600;
}
.nat-client-map .caroufredsel_wrapper .title h2 {
  color: #06a7ea;
  line-height: 14px;
  margin: 10px 0px 0px 0px;
  padding: 0px 15px;
  font-size: 12px;
  line-height: 1.5em;
  min-height: 3em;
}

.nat-client-map .carousel-wrapper .carousel .content h2 {
  margin-bottom: 5px !important;
}

.nat-client-map .carousel ul li .location {
  padding: 0px 15px !important;
}

.nat-client-map .caroufredsel_wrapper .title h3 {
  word-break: break-all;
  width: 250px;
}

.nat-client-map .caroufredsel_wrapper .title h3 a {
  word-break: break-all;
}

.nat-client-map .caroufredsel_wrapper .image img {
  height: 200px;
  width: 270px;
}

/* DETAIL */
.nat-client-detail .carousel.property ul li {
  transition: opacity 0.2s ease-in;
  background-color: transparent;
  height: 75px !important;
  width: auto !important;
  margin: 0px 5px;
  opacity: .3;
}

/*
Search Form [Home + detail + List]
*/
.nat-client-detail .chzn-container-multi .chzn-choices {
  background-image: none;
}
.nat-client-detail .chzn-container-active .chzn-choices {
  box-shadow: none;
  border: none;
}

.nat-client-detail .chzn-container-multi .chzn-choices {
  border: none;
}

/*
Agent Form
*/
.nat-client-detail .agent {
  line-height: 1.5em;
  min-height: 3.5em;
}
.nat-client-detail .agent .name {
  line-height: 1.5em;
  min-height: 1.5em;
}

.nat-client-detail .agent .email {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nat-client-detail .breadcrumb {
  margin-top: 20px;
}

.nat-client-detail .title h2 {
  margin: 10px 0px;
  line-height: 30px;
}
.nat-client-detail .bound_status .title h2 {
  font-weight: 700px;
}

/* LIST */

.nat-client-list .image .content {
  height: 200px;
}

.nat-client-list .image .content img {
  height: 200px;
}

/*------------- Home page ------------------------*/

/******************************* Map markers */
.marker {
  position: absolute;
  cursor: pointer;
  z-index: 200;
}
.marker.map_label {
  color: #4285f4;
}
div.popup.marker-info {
  position: absolute;
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  width: 150px;
  z-index: 9999;
}
div.popup.marker-info .img img {
  width: 100%;
}
div.popup.pad {
  margin-top: 30px;
}
.map_popup {
  color: #39588c;
  font-size: 15px;
}
.map_popup .price {
  color: #00b9f2;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}
.map_popup .address {
  font-weight: bold;
}
.map_popup .area span {
  font-weight: bold;
}
.map_infowindow {
  width: 280px;
}
.map_infowindow .title {
  font-weight: bold;
  color: #39588c;
  margin-bottom: 5px;
}
.map_infowindow .img {
  width: 100px;
  float: left;
}
.map_infowindow .img img {
  width: 100%;
}
.map_infowindow .content {
  float: right;
  width: 170px;
  color: #39588c;
  font-size: 15px;
}
.map_infowindow .content .price span {
  color: #00b9f2;
  font-weight: bold;
}
.map_infowindow .content .area span {
  font-weight: bold;
}
.map_infowindow .content .address {
  font-size: 13px;
}

.marker_label {
  color: #fff;
  background-color: green;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  min-width: 40px;
  border: 1px solid #fff;
  white-space: nowrap;
  padding: 2px 5px;
}
.marker_label.selected {
  background-color: #ccc;
}

/* 
 Select2 new css
 */
.select2-container .select2-selection--single {
  outline: none;
  border: 1px solid #ddd !important;
}
.select2-selection--single .select2-selection__rendered {
  color: #777 !important;
}
.dropdown-menu {
  min-width: 100px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none !important;
}
.select2-container--default .select2-results > .select2-results__options {
  -webkit-box-shadow: 5px 5px 5px #666 !important;
  max-height: 300px !important;
}

.select2-container--default .select2-results
  > .select2-results__options .select2-results__option {
  padding: 5px;
  margin: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #4285f4 !important;
  border: 1px solid #4285f4 !important;
  font-size: 13px;
  color: #fff;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container {
  width: 100% !important;
}

.select2-search__field {
  width: 100% !important;
}
.select2-search__field::placeholder {
  padding: 4px;
  color: #777 !important;
}
.select2-search__field:-ms-input-placeholder {
  color: #777 !important;
}
.select2-search__field::-ms-input-placeholder {
  color: #777 !important;
}

.search-query.span2.form-text {
  font-size: 13px !important;
}

.carousel.property .preview {
  text-align: center;
  background: black;
}

.nat-client-detail .breadcrumb {
  line-height: 25px;
}

.nat-forget-pass .login-register .tabs li {
  width: 100% !important;
}

.nat-register .login-register .tabs li {
  width: 100% !important;
}
