#page-wrapper{
	min-height: 100%;
}
.clear{
	clear: both;
}
.table {
    font-size: 14px;
}
a.fa.font20{
	font-size: 20px;
}
#wrap_login {
	max-width: 320px;
	text-align: center;
	margin: 0 auto; 
}
#wrap_login h1{
	color: #fff;
}
#wrap_item_form #field_file_upload{
    display: none;
}
#wrap_item_form .bound_item_file {
    position: relative;
    width: 150px;
    height: 100px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
    background: #f0f0f0;
    margin: 10px;
    cursor: pointer;
}
#wrap_item_form .bound_item_file i.fa {
    font-size: 50px;
    margin-top: 25px;
}
#wrap_item_form .bound_item_file img {
    width: 100%;
}
#wrap_item_form .bound_item_file.photo a.remove::before {
    font: normal normal normal 14px/1 FontAwesome;
    width: 32px;
    font-size: 20px;
    display: block;
    height: 20px;
    content: "\f00d";
    position: absolute;
    top: -10px;
    right: -18px;
}

.list_items .breadcrumb>li+li:before{
    content: none;
}